<div class="card">
  <h3 style="background-color: #{{color}}">
    {{#with card}}
    § {{Kategorie}}{{Buchstabe}} – "{{Urteil}}"
  </h3>
  <h4 class="header"> Zusammenfassung: </h4>
  <p id="sachverhalt">{{Sachverhalt}}</p>
  <h4 class="header">Volltext:</h4>

  {{/with}}
  <button><a href="/faelle">Zurück</a></button>
</div>