<h3 style="background-color: #{{color}}; color: white;">
  {{#with card}}
  § {{Kategorie}}{{Buchstabe}} – "{{Urteil}}"
</h3>
<p>{{Sachverhalt}}</p>
{{/with}}

<button><a href="/faelle">Zurück</a></button>